@import default

.section
  width: 100vw
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  padding-bottom: 250px

  div
    display: flex
    flex-direction: row
    width: 40%

    h2
      width: 50%

    p
      color: white
      width: 50%
      font-size: 1.1em
      letter-spacing: 3px
      line-height: 30px
      text-align: justify
      font-family: 'Open Sans'
  