//@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Yantramanav:wght@300;400;500&display=swap');
$colorBackground: #000000
$colorPrimary:    #F2AF00
$colorSecondary:  #FFFFFF
$fontPrimary: "Oswald", sans-serif
$fontSecondary: "Hind Madurai", sans-serif

$lg: 1100px
$md: 700px
$sm: 400px
  
body
  background: $colorBackground
  margin: 0
  padding: 0

::selection
  background: $colorPrimary
  color: $colorBackground

::-moz-selection
  background: $colorPrimary
  color: $colorBackground

.fullpage
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.title-section
  text-transform: uppercase
  letter-spacing: 10px
  font-family: $fontPrimary
  font-weight: 500
  font-size: 2em
  color: white

.section
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center