#section-projects
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-bottom: 350px

  h2
    margin-bottom: 50px

.group-projects
  width: 900px
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: left

  .project
    width: 280px
    margin: 10px
    height: 180px
    background-color: white
    border-radius: 5px 

